.journal {
  justify-content: center;
  align-items: center;

  &__date {
    text-align: center;
    margin: 10px 0;
    font-family: 'PoppinsRegular', serif;
    font-size: 18px;
    opacity: 50%;
    line-height: 20px;
  }
}
